@import 'tailwindcss';

@theme {
    --color-default-primary: #19191a;
    --color-default-secondary: #141415;
    --color-default-tertiary: #222222;
    --color-default-active: #3d3d3d;
    --color-default-inactive: #2b2b2b;
    --color-default-border: #0e0e0e;
    --font-sans: 'Ubuntu', sans-serif;
}

* {
    user-select: none;
}